#main img{
   width: 100%;
   height: 100%;
}

#main .begin{
    padding:24.5px;
}

#main .begin i:hover{
    color: lightskyblue;
}
#main .bg-black{
    background: black;
    color: white;
}

#main .menu-item {
    width:30%;
    height: auto;
    padding-bottom: 5px;
}

#main .menu-item:hover{
    opacity: 0.8;
    cursor: pointer;
}

#home .bg-success {
    background: #6abedf !important;
  }
  

@media(min-width:1199px){
    .menu-item{
        padding: 3em !important; 
    }
}
